<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>

</head>
<body>
    <h1>Your Shopping Cart</h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.quantity }} x {{ item.name }} - ${{ item.price }}</li>
            {% endfor %}
            <button class="delete-item-btn">Delete</button>
        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <a href="/contShop/">Continue Shopping</a>
    <a href="/vieworder/">Place Order</a>
    {% load static %}
    <script src="{% static 'addToCart.js' %}"></script>
</body>
</html>