<!DOCTYPE html>
<html>
    <head>
        <title>Pages</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% load static %}
        <script src="{% static 'script.js' %}"></script>
        
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    </head>
    <body>
       <h2>Select a region</h2>
        <div id="selectRegion">
             {% load static %}
            <img id="taiwanMap" src="{% static 'taiwan.png' %}" alt="Taiwan Map">

            <!-- North -->
            <div class="region-label" data-region="Taipei" style="top: 20px; left: 270px;">台北市</div>
            <div class="region-label" data-region="New Taipei" style="top: 40px; left: 280px;">新北市</div>
            <div class="region-label" data-region="Keelung" style="top: 0px; left: 300px;">基隆市</div>
            <div class="region-label" data-region="Taoyuan" style="top: 30px; left: 220px;">桃園市</div
            >
            <div class="region-label" data-region="Hsinchu" style="top: 50px; left: 180px;">新竹市</div>
            <div class="region-label" data-region="Hsinchu County" style="top: 60px; left: 220px;">新竹縣</div>

            <!-- Central -->
            <div class="region-label" data-region="Miaoli" style="top: 85px; left: 180px;">苗栗縣</div>
            <div class="region-label" data-region="Taichung" style="top: 115px; left: 160px;">台中市</div>
            <div class="region-label" data-region="Changhua" style="top: 150px; left: 140px;">彰化縣</div>
            <div class="region-label" data-region="Nantou" style="top: 160px; left: 210px;">南投縣</div
            >
            <div class="region-label" data-region="Yunlin" style="top: 180px; left: 120px;">雲林縣</div>

            <!-- South -->
            <div class="region-label" data-region="Chiayi" style="top: 200px; left: 170px;">嘉義市</div>
            <div class="region-label" data-region="Chiayi County" style="top: 210px; left: 120px;">嘉義縣</div>
            <div class="region-label" data-region="Tainan" style="top: 250px; left: 110px;">台南市</div>
            <div class="region-label" data-region="Kaohsiung" style="top: 290px; left: 130px;">高雄市</div
            >
            <div class="region-label" data-region="Pingtung" style="top: 350px; left: 180px;">屏東縣</div>

            <!-- East -->
            <div class="region-label" data-region="Yilan" style="top: 80px; left: 290px;">宜蘭縣</div>
            <div class="region-label" data-region="Hualien" style="top: 160px; left: 280px;">花蓮縣</div>
            <div class="region-label" data-region="Taitung" style="top: 270px; left: 250px;">台東縣</div>

            <!-- Islands -->
            <div class="region-label" data-region="Penghu" style="top: 220px; left: 40px;">澎湖縣</div>
          
        </div>
    </body>
</html>



















































































































