<!DOCTYPE html>
<html>
    <head>
        <title>Pages</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% load static %}
        <script src="{% static 'script.js' %}"></script>
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div id="Mails" data-id = "{{userid}}">
            {%for m in msg%}
            <div class="msgTab">
                {{ m.message }} "  :"
                {{ m.timestamp }}
            </div>
            {% empty %}
            <h1>
                No Messages
            </h1>
            {% endfor %}
    </body>
</html>